---
import { Image } from 'astro:assets'
import { Button, Card, Icon, Label, Spoiler } from '@/components/user'
import BlogStats from '@/components/home/BlogStats.astro'
import PageLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/home/Section.astro'
import avatar from '@/assets/avatar.png'
import config from '@/site-config'
import GitHubActivityCalendar from '@/components/home/GitHubActivityCalendar.astro'
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB966'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <div class='flex flex-row items-center gap-x-6'>
        <Image
          src={avatar}
          alt='profile'
          class='h-36 w-auto rounded-lg border p-1'
          loading='eager'
        />
        <div class='flex flex-col gap-y-4'>
          <h1 class='text-3xl font-bold'>{config.author_en}</h1>
          <div class='flex flex-wrap gap-x-1 gap-y-1'>
            <Label title='China'>
              <Icon name='location' class='size-4' slot='icon' />
            </Label>
            <Label
              title='Github'
              as='a'
              href='https://github.com/Minakanmi-Yuki'
              target='_blank'
            >
              <Icon name='github' class='size-4' slot='icon' />
            </Label>
            <Label title='Email' as='a' href='mailto:2849633943@qq.com'>
              <Icon name='email' class='size-4' slot='icon' />
            </Label>
            <Label title='Scholar' as='a' href=''>
              <Icon name='earth' class='size-4' slot='icon' />
            </Label>
          </div>
        </div>
      </div>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='About'>
        <p class='text-muted-foreground'>Master's Student / <Spoiler>Cola Addict 🥤</Spoiler></p>
        <p class='text-muted-foreground'>
          I’m <strong>Juhua</strong>, a first-year Master’s student (Class of 2025) in Electronic Information at 
          the (self-proclaimed) "Sifangping Men’s Vocational and Technical College" (NUDT). 
          I earned my bachelor's degree in AI from South China Normal University in 2025. 
          Currently, my research focuses on <strong>Multi-Agent Reinforcement Learning (MARL)</strong> 
          and <strong>Embodied AI</strong>.
        </p>
        <Button title='More about me' class='w-fit self-end' href='/en/about' style='ahead' />
      </Section>
      <Section title='Education'>
        <Card
          as='a'
          heading='"Sifangping Men’s Tech" (NUDT)'
          subheading='M.Eng. in Electronic Information'
          date='Sep 2025 - Present'
          href='https://www.nudt.edu.cn/'
        >
        </Card>
        <Card
          as='a'
          heading='South China Normal University'
          subheading='B.Eng. in Artificial Intelligence'
          date='Sep 2021 - Jul 2025'
          href='http://ai.scnu.edu.cn/'
        >
        </Card>
      </Section>
      <Section title='Statistics'>
        <BlogStats blogStartDate={new Date('2025-12-18')} />
      </Section>
      <GitHubActivityCalendar username='Minakanmi-Yuki'/>
    </div>
  </main>
</PageLayout>
