---
import { Image } from 'astro:assets'

import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import wechat from '@/assets/wechat-qrcode.jpg'
import config from '@/site-config'

import { Button, Icon } from '@/components/user'
import type { iconsType } from '@/types'

const headings = [
  { depth: 2, slug: 'projects', text: 'Projects' },
  { depth: 2, slug: 'sponsorship', text: 'Sponsorship' }
]
---

<PageLayout title='Projects' {headings} info={{ slug: '/projects', hideComment: true }}>
  <div class='mb-8 flex items-center justify-between'>
    <p class='text-muted-foreground'>如果你觉得我做的项目还不错，可以赞助我，让我有动力继续做下去。</p>
    <Button title='Checkout sponsorship' class='w-fit' href='#sponsorship'>
      <Icon class='size-5' name='receive-money' slot='before' />
    </Button>
  </div>

  <h2 id='projects' class='mb-8 text-2xl font-semibold'>Projects</h2>
  <ProjectSection
    project={[
      {
        name: 'sac-on-mujoco',
        description: 'This project implements the Soft Actor-Critic (SAC) algorithm and tests it in MuJoCo environments.',
        image: '',
        links: [{type: 'github', href: 'https://github.com/Minakanmi-Yuki/sac-on-mujoco'}]
      },
      // {
      //   name: 'Lumina 具身社区',
      //   description: '一个关于具身智能的社区',
      //   image: 'lumina.webp',
      //   links: [{ type: 'site', href: 'https://lumina-embodied.ai/' }]
      // },
      // {
      //   name: 'CS-BAOYAN-DDL',
      //   description: 'CCFDDL Like 的保研夏令营/预推免时间汇总',
      //   image: 'byddl.webp',
      //   links: [
      //     { type: 'site', href: 'https://ddl.csbaoyan.top/' },
      //     { type: 'github', href: 'https://github.com/CS-BAOYAN/CS-BAOYAN-DDL' }
      //   ]
      // },
      // {
      //   name: 'Minimalist Text Framework',
      //   description: '基于 Astro 的极简文本游戏框架，仅通过 JSON 文件即可生成游戏',
      //   image: 'mtf.webp',
      //   links: [
      //     { type: 'site', href: 'https://mtf.axi404.top/' },
      //     { type: 'github', href: 'https://github.com/Axi404/MinimalistTextFramework' }
      //   ]
      // },
      // {
      //   name: '西安交大生存指南',
      //   description: '西安交大生存指南，关于西安交通大学的学习与生活的系统性指南',
      //   image: 'survivexjtu.webp',
      //   links: [
      //     { type: 'site', href: 'https://survivexjtu.github.io/' },
      //     { type: 'github', href: 'https://github.com/survivexjtu/survivexjtu.github.io' }
      //   ]
      // },
      // {
      //   name: 'CSWiki',
      //   description: '一个关于计算机科学保研的相关百科',
      //   image: 'cswiki.webp',
      //   links: [
      //     { type: 'site', href: 'https://csbaoyan.top/' },
      //     { type: 'github', href: 'https://github.com/CS-BAOYAN/CS-BAOYAN-Wiki' }
      //   ]
      // }
    ]}
  />

  <!-- sponsorship -->
  <h2 id='sponsorship'>Sponsorship</h2>
  <p>请在赞助后留言或主动联系我，可以被放入赞助人列表，祝你开心。</p>
  <div class='flex flex-col justify-center gap-4 sm:flex-row'>
    {
      [
        { name: 'WeChat', icon: 'wechat-pay', image: wechat },
        { name: 'Alipay', icon: 'alipay', image: alipay }
      ].map((item) => (
        <div class='group relative justify-center overflow-hidden rounded-xl border bg-white'>
          <div class='absolute bottom-0 end-0 start-0 top-0 flex items-center justify-center transition-opacity group-hover:opacity-0'>
            <Icon class='size-20' name={item.icon as iconsType} />
          </div>
          <Image
            class='mx-auto my-0 max-w-60 opacity-30 blur-sm transition-opacity group-hover:opacity-100 group-hover:blur-none'
            src={item.image}
            alt={item.name}
            loading='lazy'
          />
        </div>
      ))
    }
  </div>
  <p>谢谢老板们的投喂Ciallo{'～'}(∠・ω{'<'} )⌒★:</p>
  <Sponsors
    sponsors={[
      { name: '牢自', amount: '100.0', date: '2026-01-01'},
      { name: '牢己', amount: '100.0', date: '2026-01-01'},
      // { name: 'yjk', amount: '100.0', date: '2025-11-13' },
      // { name: 'Ray Wu', amount: '9.9', date: '2025-05-03' },
      // { name: '0x33B', amount: '5.2', date: '2025-05-03' },
      // { name: '匿名 Sponsor', amount: '20.0', date: '2025-04-15' },
      // { name: 'SOTA', amount: '50.0', date: '2025-03-17' },
      // { name: '匿名 Sponsor', amount: '10.0', date: '2025-03-05' },
      // { name: '匿名 Sponsor', amount: '5.2', date: '2025-03-01' },
      // { name: '匿名 Sponsor', amount: '0.2', date: '2025-02-19' },
      // { name: '匿名 Sponsor', amount: '16.8', date: '2025-01-24' }
    ]}
  />
</PageLayout>

<script
  is:inline
  type='module'
  data-astro-rerun
  define:vars={{ npmCDN: config.npmCDN, walineServer: config.integ.waline.server }}
>
  const normalizePath = (path) => {
    if (path === '/') return path
    return path.endsWith('/') ? path.slice(0, -1) : path
  }

  const loadPageviewCount = async () => {
    const pageview = await import(`${npmCDN}/@waline/client@v3/dist/pageview.js`)
    pageview.pageviewCount({
      serverURL: walineServer,
      path: normalizePath(window.location.pathname)
    })
  }

  await loadPageviewCount()
</script>
